<!DOCTYPE html>
<html>

<head>
    <title>Manage Users</title>
</head>
<style>
body{
    background:#0b0018;
    color:white;
    font-family:Arial;
    margin:0;

}
table{
    border-collapse:collapse;
    width:100%;
}
th, td{
    border:1px solid #2de2e6;
    padding:8px;
    text-align:left;
}
th{
    background:#12002b;
}
tr:nth-child(even){
    background:#1f0045;
}
button{
    background:#1f0045;
    border:none;
    color:white;
    padding:8px 12px;
    border-radius:8px;
    margin-bottom:15px;
    cursor:pointer;
}
</style>
<body>
<h2>Manage Users</h2>

<form
    method="POST"
    action="{{ url_for('delete_selected_users') }}"
>

    <button
        type="submit"
        onclick="
        return confirm(
        'Delete selected users?'
        )"
    >
        Delete Selected
    </button>

    <table border="1" width="100%">

        <tr>
            <th>Select</th>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Country</th>
        </tr>

        {% for user in users %}

        <tr>

            <td>
                {% if not user.is_admin %}
                <input
                    type="checkbox"
                    name="user_ids"
                    value="{{ user.id }}"
                >
                {% endif %}
            </td>

            <td>{{ user.id }}</td>

            <td>{{ user.full_name }}</td>

            <td>{{ user.phone }}</td>

            <td>{{ user.email }}</td>

            <td>{{ user.country }}</td>

        </tr>

        {% endfor %}

    </table>

</form>

</body>
</html>
